body{
    padding: 0;
    margin: 0;
    background: black; 
    height: 100vh;
     
}
#one-page{
    height: 100%;
    /* background-image: url("wallpaper.jpg"); */
    /* color:white; */
    padding: 20px;

    background-size: auto;
    -webkit-background-size: auto;
    -moz-background-size: auto;
    -o-background-size: auto ;
    
}
.container{
    position: relative;
    top: 15%;
    background: rgba(255, 255, 255, 0.2);
    padding: 30px;
    margin-top: 30px;
    backdrop-filter: blur(10px);
    border-radius: 15px;
   
}
h1{
    font-size: 50px;
}

@media (max-width: 976px){
    #one-page{
        height: 150%;
        background-image: url("wallpaper.jpg");
        background-size: auto;
        -webkit-background-size: auto;
        -moz-background-size: auto;
        -o-background-size: auto ; 
    }
}